
@{
	ViewBag.Title = "Личный кабинет";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />



<script src="~/Scripts/Profile/ModeratorProfileVue.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<section id="main-section">
    <div class="sk-wave"><div class="sk-rect sk-rect-1"></div><div class="sk-rect sk-rect-2"></div><div class="sk-rect sk-rect-3"></div><div class="sk-rect sk-rect-4"></div><div class="sk-rect sk-rect-5"></div></div>

    <section id="userProfile" style="display:none;">
        <div class="custom-container">
            <nav class="profile-menu">
                <ul>
                    <li><span v-bind:class="{'current': !IsNewsShown}" v-on:click="showApplications">Обращения</span></li>
                    <li><span v-bind:class="{'current': IsNewsShown}" v-on:click="showNews">Новости</span></li>
                </ul>
            </nav>


            <section v-if="IsNewsShown===false" id="applications">
                <div class="filter-container">

                    <span class="filter" v-for="status in applicationStatuses" v-on:click="selectApplicationsByStatusId(status.Id)" v-bind:class="{ 'current': status.Id === statusFilter }">{{status.Name}}</span>

                    <span v-bind:class="{ 'current': statusFilter ===0}" class="filter" v-on:click="selectApplications()">все</span>
                </div>
                <div v-for="app in applications">
                    <div class="application">



                        <div class="application-data">

                            <div v-if="app.imgs.length<1" class="img-holder">
                                <img class="d-block w-100" src="~/Content/Images/noImage.png">
                            </div>
                            <div v-else-if="app.imgs.length===1" class="img-holder">
                                <img v-bind:src="app.imgs[0]" alt="Alternate Text" />
                            </div>
                            <div v-else-if="app.imgs.length>1" class="img-holder">

                                <div v-bind:id="'app-' + app.Id" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li v-bind:data-target="'#app-' + app.Id" class="active" v-bind:data-slide-to="index" v-for="(img, index) in app.imgs"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item" v-bind:class="{ 'active': index === 0 }" v-for="(img, index) in app.imgs">
                                            <img class="d-block w-100" v-bind:src="img">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" v-bind:href="'#app-' + app.Id" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" v-bind:href="'#app-' + app.Id" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="application-body">

                                <p class="title">{{app.Title}}</p>
                                <p v-if="app.isEditing===false">
                                    {{app.Text}}
                                </p>
                                <textarea v-if="app.isEditing===true" class="form-control" rows="6" v-model="app.Text"> </textarea>
                            </div>

                        </div>
                        <section class="comments" v-if="app.IsOpened">
                            <div v-for="com in app.comments" class="comment">
                                <div class="custom-container">
                                    <div class="img-holder">
                                        <img v-bind:src="com.img" alt="Alternate Text" />
                                    </div>
                                    <div class="comment-text">
                                        <p class="comment-author">{{com.authorName}}</p>
                                        <p>{{com.Text}}</p>
                                        <p> <small>{{com.dateTimeOfCreation}}</small><button class="button-third"> ответить</button></p>


                                    </div>
                                </div>
                            </div>
                            <div class="custom-container ">
                                <div class="custom-container ">
                                    <div class="form-inline form-group mt-4">

                                        <textarea v-on:input="changeComment" class="textarea" data-autoresize rows="1"></textarea>

                                        <button v-on:click="addComment(app.Id)" class="button button-primary "><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                    <div>
                                        <div v-if="app.commentPagesNumber > 5" class="page-wrapper">
                                            <div v-on:click="ChangePageNumber(app.Id, 1)" class="page-number" v-bind:class="{ 'current': 1 === app.currentCommentPageNumber }">1</div>

                                            <span v-if="app.currentCommentPageNumber > 3"> ... </span>

                                            <div v-for="number in app.commentPagesNumber" v-if="isShowAsPage(number, app.currentCommentPageNumber, app.commentPagesNumber)" class="page-number" v-bind:class="{ 'current': number === app.currentCommentPageNumber }" v-on:click="ChangePageNumber(app.Id, number)">{{number}}</div>

                                            <span v-if="app.commentPagesNumber - app.currentCommentPageNumber > 2"> ... </span>

                                            <div v-on:click="ChangePageNumber(app.Id, app.commentPagesNumber)" class="page-number" v-bind:class="{ 'current': app.commentPagesNumber === app.currentCommentPageNumber }">{{app.commentPagesNumber}}</div>
                                        </div>
                                        <div v-if="app.commentPagesNumber > 1 && app.commentPagesNumber < 6" class="page-wrapper">
                                            <div class="page-number" v-for="number in app.commentPagesNumber" v-bind:class="{ 'current': number === app.currentCommentPageNumber }" v-on:click="ChangePageNumber(app.Id, number)">{{number}}</div>
                                        </div>
                                    </div>


                                </div>
                            </div>





                        </section>
                        <div class="application-control">
                            <div class="comment-button-holder">
                                <small v-on:click="toggleComments(app.Id)">
                                    <span v-if="!app.IsOpened">показать комментарии</span>
                                    <span v-if="app.IsOpened">скрыть комментарии</span>
                                </small>
                            </div>
                            <div class="buttons">

                                <button v-if="app.StatusId!==2" class="button button-primary" v-on:click="acceptApplication(app.Id)">Принять</button>
                                <button v-if="app.StatusId!==3" class="button button-secondary" v-on:click="declineApplication(app.Id)">Отклонить</button>
                                <button class="button button-third">Направить</button>

                            </div>



                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div v-if="IsNewsShown" class="custom-container">

                    <textarea name="news1" id="news1"></textarea>

                    <input class="form-control" type="datetime-local" v-model="datetime" />
                    {{datetime}}
                    <button class="button button-primary" v-on:click="addNews">Добавить новость</button>
                </div>
            </section>
        </div>

    </section>
</section>
