
@{
	ViewBag.Title = "SingleApplication";
}

<div class="container" id="app">
	
	<img class="avatar-picture" v-bind:src="img" />
	<p class="title"></p>
	<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора</p>

</div>


<script src="~/Scripts/Profile/Single.js"></script>

