
@{
	ViewBag.Title = "UserProfile";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<section id="main-section" v-loader="objForLoading">
	<section>
		<div class="custom-container">
			<div class="user-info">
				
					<div class="img-holder">
						<img src="https://astrafarm.com/images/antoha.jpg" alt="Alternate Text" />
					</div>
				
				
					<div class="info-holder">
						<p class="title">Пользователь</p>
						<ul>
							<li>возраст: 25</li>
							<li>mail: mail@mail.ru</li>

						</ul>
						<button class="button-third">Изменить</button>
					</div>
				
			</div>
		</div>
	</section>
	<div class="custom-container">
		<nav class="profile-menu">
			<ul>
				<li><a href="#">Мои обращения</a></li>
				<li><a href="#">Создать обращение</a></li>
			</ul>
		</nav>
		@*<button>все</button>
		<button>принятые</button>
		<button>непринятые</button>*@

	</div>
	<section>
		<div class="custom-container">

			<section id="applications">
				<div v-for="app in applications">
					<div class="application">



						<div class="application-data">

							<div v-if="app.imgs.length<1" class="img-holder">
								<img class="d-block w-100" src="https://static.price.ru/-/510401-digma-plane-7565n-3g/59069d6a10d480316034bc1e7498f59c/https_24-bt.ru/product_images/300/441/q_402486.jpg">
							</div>
							<div v-else-if="app.imgs.length===1" class="img-holder">
								<img v-bind:src="app.imgs[0]" alt="Alternate Text" />
							</div>
							<div v-else-if="app.imgs.length>1" class="img-holder">
								@*<img src="http://xn--80ajoghfjyj0a.xn--p1ai/uploads/media/illustration/4517/i605_6.jpg" alt="Alternate Text" />*@
								<div v-bind:id="'app-' + app.Id" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li v-bind:data-target="'#app-' + app.Id" class="active" v-bind:data-slide-to="index" v-for="(img, index) in app.imgs"></li>
									</ol>
									<div class="carousel-inner">
										<div class="carousel-item" v-bind:class="{ 'active': index === 0 }" v-for="(img, index) in app.imgs">
											<img class="d-block w-100" v-bind:src="img">
										</div>
									</div>
									<a class="carousel-control-prev" v-bind:href="'#app-' + app.Id" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" v-bind:href="'#app-' + app.Id" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
							<div class="application-body">

								<p class="title">{{app.Title}}</p>
								<p>
									{{app.Text}}
								</p>
							</div>

						</div>
						<section class="comments" v-if="app.IsOpened">
							<div v-for="com in app.comments" class="comment">
								<div class="custom-container">
									<div class="img-holder">
										<img src="https://cdn.fishki.net/upload/post/2018/04/19/2575367/tn/483dffd1599856089e91fa679bbc64df.jpg" alt="Alternate Text" />
									</div>
									<div class="comment-text">
										<p class="comment-author">Автор</p>
										<p>{{com.Text}}</p>
										<p><small>30.04.19 19:00</small> @*<a href="#">ответить</a></p>*@
									</div>
								</div>
							</div>
							<div class="custom-container ">
								<div class="custom-container ">
									<div class="form-inline form-group mt-4">

<textarea v-on:input="changeComment" class="form-control w-75 p-2 mr-2"></textarea>

										<button v-on:click="addComment(app.Id)" class="button button-primary" style="padding-top: 23.5px ; padding-bottom:23px">></button>
									</div>
									<div>
										<div v-if="app.commentPagesNumber > 5" class="page-wrapper">
											<div v-on:click="ChangePageNumber(app.Id, 1)" class="page-number" v-bind:class="{ 'current': 1 === app.currentCommentPageNumber }">1</div>

											<span v-if="app.currentCommentPageNumber > 3"> ... </span>

											<div v-for="number in app.commentPagesNumber" v-if="isShowAsPage(number, app.currentCommentPageNumber, app.commentPagesNumber)" class="page-number" v-bind:class="{ 'current': number === app.currentCommentPageNumber }" v-on:click="ChangePageNumber(app.Id, number)">{{number}}</div>

											<span v-if="app.commentPagesNumber - app.currentCommentPageNumber > 2"> ... </span>

											<div v-on:click="ChangePageNumber(app.Id, app.commentPagesNumber)" class="page-number" v-bind:class="{ 'current': app.commentPagesNumber === app.currentCommentPageNumber }">{{app.commentPagesNumber}}</div>
										</div>
										<div v-if="app.commentPagesNumber > 1 && app.commentPagesNumber < 6" class="page-wrapper">
											<div class="page-number" v-for="number in app.commentPagesNumber" v-bind:class="{ 'current': number === app.currentCommentPageNumber }" v-on:click="ChangePageNumber(app.Id, number)">{{number}}</div>
										</div>
									</div>


								</div>
							</div>





						</section>
						<div class="application-control">
							<div class="comment-button-holder">
								<small v-on:click="toggleComments(app.Id)">
									<span v-if="!app.IsOpened">показать комментарии</span>
									<span v-if="app.IsOpened">скрыть комментарии</span>
								</small>
							</div>
							<div class="buttons">
								<i class="fas fa-thumbs-up">0</i>
								<i class="fas fa-thumbs-down">gf</i>
								<button class="button button-primary">Изменить</button>
								<button class="button button-secondary">Удалить</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		
	</section>
</section>
<script src="~/Scripts/Profile/ProfileVue.js"></script>
@*<script>$('.carousel').carousel()</script>*@

