
    <div  class="form-wrapper text-center">
        <input v-model="Text" type="text"/>
                @using (Html.BeginForm("SubmitApplication", "Application", FormMethod.Post, new { enctype = "multipart/form-data", id="form" }))
                {
                    <label for="Text">Опишите проблему</label>
                    <textarea type="text" class="form-control col" id="Text" placeholder="Описание проблемы..."></textarea>
                    <input type="file"  id="Files" v-on:change="InputFileValidate()" accept=".jpg, .jpeg, .gif, .png" multiple />

                    if (TempData["FileNames"] != null)
                    {
                        <p>Last uploaded files:</p>
                        @Html.Raw(TempData["FileNames"].ToString())
                    }
                    <button type="submit" class="btn btn-primary">Submit</button>
                }

    </div>
    <script src="~/Scripts/Application/ApplicationValidate.js"></script>
