@using WebApp.Models.News
@using WebApp.Models
<style type="text/css">

    #map {
        width: 600px;
        height: 600px;
    }
</style>
<div class="form-wrapper text-center">
    <div id="form" v-loader="objForLoading">
        @foreach (New newspiece in ViewBag.News)
        {
            <span> @newspiece.Text</span>
        }
        <label for="Title">Придумайте заголовок для вашей заявки</label>
        <input class="form-control col" id="Title" placeholder="Заголовок..." v-model="Title">


        <label for="Text">Опишите проблему</label>
        <textarea class="form-control col" id="Text" placeholder="Описание проблемы..." v-model="Text"></textarea>

        <label for="Department">К кому вы хотите обратиться?</label>

        <select class="form-control col" id="Department" v-on:change="ajaxGetReasonsByDepartment" v-model="departmentId">
            @foreach (IndexType department in ViewBag.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>

        <label for="Reason">Выберите наиболее подходящую причину для обращения</label>
        <select class="form-control col" id="Reason" v-model="reasonId">

            <option v-for="reason in reasons" v-bind:value="reason.Id">{{reason.Name}} </option>
        </select>

        <input type="file" id="Files" v-on:change="InputFileValidate" accept=".jpg, .jpeg, .gif, .png" multiple />
        <div v-if="Errors.length > 0"> {{Errors[0]}} </div>

        <label v-if="!isMap" for="Address">Введите адрес</label>
        <input v-if="!isMap" class="form-control col" id="Address" placeholder="Адрес..." v-model="AddressText">
        <button v-if="!isMap"type="button" class="btn btn-primary" v-on:click="toggleMap()">Переключить карту</button>

        <button v-if="isMap" type="button" class="btn btn-primary" v-on:click="toggleMap()">Указать адрес</button>
        <div v-if="isMap" id="map"></div>

        <button type="submit" class="btn btn-primary" v-on:click="submit()">Отправить</button>

    </div>



</div>
<script  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3936ff9e-b64c-4aef-8fe1-b6bc0a4e5fe7" type="text/javascript"></script>
<script src="~/Scripts/Application/ApplicationValidate.js"></script>

