@using WebApp.Models.News
@using WebApp.Models
<style type="text/css">

    #map {
        /*width: 600px;*/
        width: 100%;
        height: 600px;
    }
</style>
<div class="form-wrapper @*text-center*@">
    <div id="form" v-loader="objForLoading">
        @foreach (New newspiece in ViewBag.News)
        {
            <span> @newspiece.Text</span>
        }
        <label for="Title">Придумайте заголовок для вашей заявки</label>
        <input class="form-control col" id="Title" placeholder="Заголовок..." v-model="Title">


        <label for="Text">Опишите проблему</label>
        <textarea class="form-control col" id="Text" placeholder="Описание проблемы..." v-model="Text"></textarea>

        <label for="Department">К кому вы хотите обратиться?</label>

        <select class="form-control col" id="Department" v-on:change="ajaxGetReasonsByDepartment" v-model="departmentId">
            @foreach (IndexType department in ViewBag.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>

        <label for="Reason">Выберите наиболее подходящую причину для обращения</label>
        <select class="form-control col" id="Reason" v-model="reasonId">

            <option v-for="reason in reasons" v-bind:value="reason.Id">{{reason.Name}} </option>
        </select>

        @*<label class="btn btn-primary">
                Добавить фото <input type="file" class="input-file" id="Files" v-on:change="InputFileValidate" accept=".jpg, .jpeg, .gif, .png" hidden multiple />
            </label>*@

        <label for="Files">Приложите до 5 фотографий</label>
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-outline-primary">
                    Добавить фото&hellip;  <input type="file" class="input-file" id="Files" v-on:change="InputFileValidate" accept=".jpg, .jpeg, .gif, .png" hidden multiple />
                </span>
            </label>
            <input type="text" class="form-control aboutFile" readonly>
        </div>
        <div v-if="Errors.length > 0"> {{Errors[0]}} </div>

        @*<label v-if="!isMap" for="Address">Введите адрес (Например, Ставрополь Мира 123)</label>
            <div class="input-group mb-3">
                <input v-if="!isMap" class="form-control col" id="Address" placeholder="Ставрополь, Мира 123 " v-model="AddressText">
                <div class="input-group-append">
                    <button v-if="!isMap" type="button" class="btn btn-outline-primary" v-on:click="toggleMap()">Показать карту</button>
                </div>
            </div>*@

        <div v-if="!isMap" class="form-row text-center">
            <div class="form-group col-md-6">
                <label for="inputCity">Населенный пункт</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button v-if="!isMap" type="button" class="btn btn-outline-primary" v-on:click="toggleMap()">Показать карту</button>
                    </div>
                    <input type="text" id="inputCity" class="form-control" placeholder="Например, Ставрополь" v-model="CityText">
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="inputStreet">Улица</label>
                <input type="text" id="inputStreet" class="form-control" placeholder="Например, Ленина" v-model="StreetText">
            </div>
            <div class="form-group col-md-1">
                <label for="inputHouse">Дом</label>
                <input type="text" id="inputHouse" class="form-control" placeholder="123" v-model="HouseText">
            </div>
        </div>
        <div v-if="isMap">
            <button type="button" class="btn btn-outline-primary" v-on:click="toggleMap()">Указать адрес</button>
            <div id="map"></div>
        </div>
            <button type="submit" class="btn btn-success" v-on:click="submit()">Отправить</button>

    </div>
</div>




<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3936ff9e-b64c-4aef-8fe1-b6bc0a4e5fe7" type="text/javascript"></script>
<script src="~/Scripts/Application/ApplicationValidate.js"></script>
<script src="~/Scripts/Application/InputFile.js"></script>

