<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="form-wrapper text-center" >
        <form >
            <div class="form-group">
                <label for="Text">Опишите проблему</label>
                <textarea type="text" class="form-control" id="Text" placeholder="Описание проблемы..."></textarea>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</body>
</html>
