.form-wrapper {
  width: 600px;
}
.dl-horizontal dt {
  white-space: normal;
}
input,
select,
textarea {
  max-width: 280px;
}
body {
  font: 14px/1.5 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  color: #777a7f;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.custom-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #fff;
  padding-top: 12px;
  min-height: 48px;
  box-sizing: border-box;
  border-bottom: #dbdada 1px solid;
  box-shadow: 0 1px 5px 2px #dbdada;
}
header a:hover,
header nav a:hover {
  color: #3aa0fe;
  text-decoration: none;
}
header li,
header nav li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
nav a {
  color: #777a7f;
  text-decoration: none;
  /*font-size: 16px;*/
}
#left-menu {
  float: left;
}
#right-menu {
  float: right;
}
.button {
  border: none;
  height: 30px;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
}
.button-primary {
  color: #ffffff;
  background: #52dc93;
  margin-right: 10px;
}
.button-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #3aa0fe;
  color: #3aa0fe;
}
.button-primary:hover {
  background-color: #5bec9f;
}
.button-secondary:hover {
  background-color: #3aa0fe;
  color: #fff;
}
/*адаптивность меню*/
#toggle-icon {
  font-weight: 600;
  font-size: 18px;
  color: #777a7f;
  float: left;
  display: none;
}
#toggle {
  display: none;
}
/*profile styles*/
.profile-menu {
  min-height: 26px;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  border-bottom: #dbdada 1.5px solid;
}
.profile-menu li {
  height: 26px;
}
.profile-menu li:hover {
  border-bottom: 1.5px solid #3aa0fe;
}
.user-info {
  width: 60%;
  min-height: 160px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px 2px #dbdada;
  padding: 20px;
}
.user-info img-holder {
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.user-info img-holder img {
  float: left;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 3px solid #fafafa;
  border-radius: 50%;
}
.left {
  width: 30%;
  float: left;
}
.right {
  width: 65%;
  float: right;
}
/*application*/
.title {
  font-weight: 500;
  font-size: 16px;
}
.application {
  width: 90%;
  min-height: 260px;
  box-shadow: 0 1px 5px 2px #dbdada;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  font-size: 13px;
}
.application .img-holder {
  float: left;
  width: 40%;
  height: 100%;
}
.application .img-holder img {
  float: left;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.application .application-body {
  float: right;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 60%;
}
.application-control {
  position: absolute;
  bottom: 0;
  background-color: #fbfcfb;
  border-top: 1px solid #f2f2f2;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  width: 100%;
}
.buttons {
  padding-top: 15px;
  float: right;
}
.comment-button-holder {
  text-align: center;
  float: left;
  width: 30%;
  padding-top: 15px;
}
.comment-button-holder small:hover {
  color: #3aa0fe;
  cursor: pointer;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #324259;
  text-align: center;
}
@media (max-width: 1050px) {
  #toggle-icon {
    display: block;
    cursor: pointer;
  }
  #left-menu,
  #right-menu,
  header li {
    width: 100%;
  }
  header nav {
    display: none;
  }
  header li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #toggle:checked + header nav {
    display: block;
  }
  #toggle:checked + header nav #right-menu {
    padding-bottom: 10px;
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 400;
  position: absolute;
}
.loader-wrapper .loader {
  background: #000;
}
.sk-wave {
  width: 6em;
  height: 4em;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
.sk-wave .sk-rect {
  background-color: #337ab7;
  height: 100%;
  width: 0.5em;
  display: inline-block;
  animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
  margin-right: 3px;
}
.sk-wave .sk-rect-1 {
  animation-delay: -1.2s;
}
.sk-wave .sk-rect-2 {
  animation-delay: -1.1s;
}
.sk-wave .sk-rect-3 {
  animation-delay: -1s;
}
.sk-wave .sk-rect-4 {
  animation-delay: -0.9s;
}
.sk-wave .sk-rect-5 {
  animation-delay: -0.8s;
}
@keyframes sk-wave-stretch-delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}